.comment-section {
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.submit-comment {
    flex: 1.3;
    padding-right: 30px;
}

.comments-list {
    flex: 2;
}

.comment-section h2 {
    font-size: 18px;
    font-weight: bold;
}

.comment-section label {
    font-weight: bold;
}

.comment-section textarea {
    width: 100%;
    height: 100px;
    resize: vertical;
    margin-bottom: 10px;
}

.comment-section input[type="number"] {
    width: 50px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.comment-section button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.comment-section button:hover {
    background-color: #0056b3;
}

.comment-section .comments-list {
    margin-top: 10px;
    max-height: 300px;
    overflow-y: auto;
}



.comment-section .comment-text {
    margin: 0;
}

.comment-section .comment-rating {
    margin: 0;
}

.text-comment {
    padding-left: 10px;
    border: 1px solid #54a0ff;
    outline: #2e86de;
}

.comment {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    cursor: pointer;
    width: 90%;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.2);
    /* Tạo đường viền dưới với hiệu ứng nét vẽ mờ */
}

.comment.active {
    background-color: #f2f2f2;
}

.avatar {
    margin-right: 10px;
}

.avatar img {
    width: 50px;
    height: 60px;
}

.user-comment {
    flex: 1;
}

.comment-text {
    padding-top: 15px;
    margin-bottom: 5px;
    word-wrap: break-word;
}

.book-rating {
    color: gold;
}

.from-user {
    font-size: 10px;
    color: #1e90ff;
}

#rating {
    padding: 5px;
    text-align: center;
    outline: none;
}

.not-login-comment {
    height: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ecf0f1;
    width: 300px;
    margin-right: 5px;
    margin-top: 25px;
}

.not-login-comment h3 {
    color: #34495e;
    font-size: 18px;
}

@media only screen and (max-width: 740px) {

    /* CSS cho màn hình nhỏ */
    .not-login-comment {
        height: 200px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ecf0f1;
        width: 160px;
        margin-right: 5px;
        margin-top: 25px;
    }
}