.footer {
    background-color: #f2f2f2;
    padding: 60px 0;
    font-size: 16px;
    position: relative;
    clear: both;
    margin-top: 20px;
    z-index: 1;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: auto;
}

.footer-column {
    width: 300px;
    margin-bottom: 40px;
}

.footer-column h4 {
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
}

.footer-column p {
    margin-bottom: 10px;
    color: #666;
}

.footer-column ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-column li {
    margin-bottom: 10px;
}

.footer-column a {
    color: #666;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.footer-column a:hover {
    color: #000;
}

.social-icons {
    display: flex;
    margin-top: 10px;
}

.social-icons a {
    margin-right: 10px;
    color: #666;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
    color: #000;
}

.footer-bottom {
    margin-top: 50px;
    text-align: center;
}